<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
  Splurty was built by <a target="_blank" href="http://github.com/khoelscher0625">Kathryn</a>
</p>
<br />
<p>
  Most of her life she wanted to be a teacher. Little did she know that lessons and activities she would do with her students, would lead her to a new career. Beginning with simple coding activites, Kathryn soon discovered that she enjoyed the problem solving puzzles that code creates. Now, here we are a few years later and she is knee deep in learning a variety of coding languages. Her eagerness to enter the web application world goes to show you are never to old to try something new and learn! You never know where it might take you!
</p>
<br />
<p>
  If you want to learn to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
</p>

<br />

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'kathryn.jpg', class: 'img-fluid' %>
    </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Kathryn Hoelscher</h2>
    <br />
    <p>
      Kathryn Hoelscher is a eager new web developer.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />