@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

@import "bootstrap";

.clear {
  clear: both;
}

body {
  background-color: white
}

.circle {
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background-color: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform: rotate(11deg);
    -ms-transform: rotate(11deg); /* IE 9 */
    -webkit-transform: rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  font-style: italic;
  padding-top: 26px;
}

.links {
  padding-top: 26px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #087686;
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-family: 'Dancing Script', cursive;
}

.next-quote {
  color: #861808;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
}

.footer-blurb {
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  font-stly: italic;
  text-align: right;
  font-size: 10px;
}

.logo:hover {
  text-direction: none;
}

.about {
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

.modal {
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

h2 span {
  color: #dcdcdc;
  font-family: 'Abril Fatface', cursive;
}

::selection {
  background-color: #f84342;
}
